<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://i.pinimg.com/736x/13/c5/4d/13c54d2008f86417c31ea42e9458e84a.jpg">
    <title>Edit Task</title> 
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10 text-white">
        <a class="text-blue-500 inline-block mb-10" href="/">â† Go Back</a>
        <form action="/edit" method="post">
            <input class="hidden" name="previous" value="<%= filename %>">
            <label class="block mb-2 text-sm">Edit Task Name</label>
            <input class="block w-1/2 rounded-md outline-none px-5 py-2 text-zinc-600 bg-zinc-800" type="text" name="new" value="<%= filename.replace('.txt', '') %>">
            <label class="block mt-4 mb-2 text-sm">Edit Task Details</label>
            <textarea name="details" rows="6" class="block w-full rounded-md outline-none mt-2 px-5 py-2 resize-none bg-zinc-800"><%= filedata %></textarea>
            <input type="submit" class="mt-4 bg-green-600 px-5 py-2 rounded-md" value="Update Task">
        </form>
    </div>
</body>
</html>
